/* import */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: black;
}

h1, h2, h4{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

h2{
    margin-top: 20px;
    margin-bottom: 50px;
}

h4{
    margin-top: 50px;
}

.titre{
    margin-top: 20px;
    margin-bottom: 100px;
}

.btn-lg{
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

#footer{
    margin-top: 200px;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
}